// cores
$black: #111111;
$black2: #222222;
$darkBlue: #090e22;
$lightBlue: #1d1e33;
$lightBlack: #14151a;
$white: #ffffff;
$gray: #444444;
$gray2: #cccccc;
$gray3: #dfdfdf;
$red: #f44236;
$green: #abfe10;

// fontes
$fontFamily: 'Lato',
sans-serif;

//Container
$breakpoint-xs: 0 !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;